
*{
    text-align: center;
}
.bold{
    font-weight: bold;
}
#fosforspn{
    background-color: yellow;
}
#violet{
    background-color: blueviolet;
}
#colortn{
    background-color: antiquewhite;
}
#greencolor{
    background-color: greenyellow;

}